<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please find your Attribution Report, attached.</h1>
    <p>
		Please <%= link_to 'contact MJB', 'mailto:mjbostler@darumanyc.com' %> with any questions.
    </p>
    <p>Thanks and have a great day!</p>
	<p>Regards,</p>
	<em>AttributionBot</em>
  </body>
</html>